[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
fastapi = {extras = ["standard"], version = "*"}
fastkafka = "*"
aiomisc = "*"
openai = "*"
wikipedia = "*"

[dev-packages]

[requires]
python_version = "3.12"
